html {
  font-family: $font-primary;
  font-size: 62.5%;
  color: rgba(0, 0, 0, 0.9);
}

body {
  overflow-x: hidden;
  font-size: 1.4rem;
}

a:link,
a:visited,
a:hover,
a:active {
  color: $color-accent1;
}

.navigation {
  background: $color-primary;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  text-align: center;
}

.body-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  top: 2vh;
  right: 3vw;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 255 255 255 1' xml:space='preserve'><rect width='30' height='6' fill='black'/><rect y='24' width='30' height='6' fill='black'/><rect y='12' width='30' height='6' fill='black'/></svg>");
  background-size: contain;
}

.nav-trigger:checked+label {
  top: 215px;
}

.nav-trigger:checked~.body-container {
  top: 200px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.nav-trigger+label,
.body-container {
  transition: top 0.2s;
}

header {
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: $color-primary;
  color: #FFF;
}

.header-container {
  width: 80vw;
  margin: 0 auto;
}

.logo-link:link,
.logo-link:visited,
.logo-link:hover,
.logo-link:active {
  border: 0;
  padding: 0;
}

.logo {
  height: 4vh;
}

main {
  flex: 1;
}

footer {
  padding-bottom: 8vh;
  background-color: $color-grey-dark;
  color: $color-grey-light;
}

.footer-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container section {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container li {
  line-height: 200%;
  font-size: 1.8rem;
  text-align: center;
}

footer h1 {
  font-family: 'Bitter', serif;
  font-size: 3rem;
  font-weight: 700;
  color: #FFF;
}

.quote {
  font-size: 2rem;
  font-weight: 400;
}

.quotee {
  color: $color-grey-light;
}

.quotee-dark {
  color: rgba(0, 0, 0, 0.8);
}

main section {
  width: 80vw;
  margin: 8vh auto 0;
}

.section-header {
  margin-bottom: -2vh;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 4.2rem;
}

.section-container-grey {
  padding: 1px 0 8vh;
  background-color: $color-grey-lightest;
}

.section-container-white {
  padding: 1px 0 8vh;
  background-color: #FFF;
}

.section-container-red {
  padding: 1px 0 8vh;
  background-color: $color-accent1;
  color: #FFF;
}

.sub-content-section {
  margin-top: 4vh;
}

.flow-text {
  font-size: 1.6rem;
  line-height: 150%;
}

.contact-button-container {
  margin-top: 8vh;
  margin-bottom: 4vh;
}

.contact-button:link,
.contact-button:visited,
.contact-button:hover,
.contact-button:active {
  padding: 4vw;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: #FFF;
  text-decoration: none;
  border: 1px solid #FFF;
  border-radius: 4px;
}