html {
  font-family: $font-primary;
  font-size: 62.5%;
  color: rgba(0, 0, 0, 0.9);
}

body {
  font-size: 1.6rem;
  line-height: 3.2rem;
  @include tablet {
    font-size: 1.8rem;
    line-height: 3.6rem;
  }
  @include desktop {
    font-size: 1.8rem;
    line-height: 3.6rem;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: $color-accent1;
}

// https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items
.body-container-wrapper {
  display: flex;
  flex-direction: column;
}

.body-container {
  // vw/vh required due to flex: 1
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

// https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
main {
  flex: 1 1 auto;
}
