@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/bitter-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Bitter Regular"), local("Bitter-Regular"),
    url("../assets/bitter-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/bitter-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/bitter-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/bitter-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/bitter-v15-latin-regular.svg#Bitter") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/bitter-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Bitter Bold"), local("Bitter-Bold"),
    url("../assets/bitter-v15-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/bitter-v15-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/bitter-v15-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/bitter-v15-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../assets/bitter-v15-latin-700.svg#Bitter")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/open-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../assets/open-sans-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/open-sans-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/open-sans-v17-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../assets/open-sans-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/open-sans-v17-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/open-sans-v17-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url("../assets/open-sans-v17-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/open-sans-v17-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/open-sans-v17-latin-italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/open-sans-v17-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/open-sans-v17-latin-italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/open-sans-v17-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../assets/open-sans-v17-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/open-sans-v17-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/open-sans-v17-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/open-sans-v17-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/open-sans-v17-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}
