// FONT
$font-primary: "Open Sans", sans-serif;
$font-secondary: Bitter, serif;
// COLOR
$color-primary: #0f2634;
$color-accent1: #ed3e44;
$color-grey-dark: #29292c;
$color-grey-light: #b5b5c0;
$color-grey-lightest: #f0f0f0;
// LAYOUT
$width-content-mobile: 90%;
$width-content-tablet: 70%;
$width-content-desktop: 50%;
