<!DOCTYPE html>
<html itemscope itemtype="<%= @frontmatter.schema %>">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Dominique Huber - <%= @frontmatter.title %></title>
  <meta name="description" content="Freelance Software Entwicklung und Coaching von Entwicklungsteams">
  <meta name="keywords" content="Microsoft .NET, C#, Angular, AngularJS, React, ReactJS, Meteor, MeteorJS, Elixir, Phoenix, Architektur Review, Rapid Prototyping, Prototyping, Fullstack, Freelance, Game Development">
  <meta name="author" content="Dominique Huber">
  <link rel="manifest" href="assets/manifest.json">
  <link rel="icon" href="assets/favicon.ico">
  <%# <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans" rel="stylesheet"> %>
  <link rel="stylesheet" href="donhubi.css">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/ms-icon-144x144.png">
  <meta property="og:title" content="Dominique Huber - <%= @frontmatter.title %>" />
  <meta property="og:url" content="https://donhubi.ch" />
  <meta property="og:description" content="<%= @frontmatter.description %>" />
  <meta property="og:image" content="https://donhubi.ch/assets/<%= @frontmatter.image %>" />
  <meta property="og:type" content="<%= @frontmatter.type %>" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Dominique Huber - <%= @frontmatter.title %>" />
  <meta name="twitter:url" content="https://donhubi.ch" />
  <meta name="twitter:description" content="<%= @frontmatter.description %>" />
  <meta name="twitter:image" content="https://donhubi.ch/assets/<%= @frontmatter.image %>" />
  <meta itemprop="name" content="Dominique Huber - <%= @frontmatter.title %>">
  <meta itemprop="description" content="<%= @frontmatter.description %>">
  <meta itemprop="image" content="https://donhubi.ch/assets/<%= @frontmatter.image %>">
  <meta itemprop="author" content="Dominique Huber">
  <meta itemprop="datePublished" content="<%= DateTime.utc_now %>">
  <meta itemprop="headline" content="<%= @frontmatter.description %>">
  <meta itemprop="publisher" content="Dominique Huber">
</head>

<body>
  <div class="navigation-handheld-container">
    <div class="navigation-toggle" onClick="document.getElementById('overlay').style.height = document.getElementById('overlay').style.height === '100%' ? '0' : '100%';"></div>
    <div id="overlay">
      <div class="overlay-close-container" onClick="document.getElementById('overlay').style.height = document.getElementById('overlay').style.height === '100%' ? '0' : '100%';">
        <img src="assets/close.svg" alt="">
      </div>
      <ul class="navigation-handheld">
        <li>
          <a href="index.html" alt="Home" <%= if @frontmatter.name === "index" do %>class="active"<% end %>>Home</a>
        </li>
        <li>
          <a href="dev.html" alt="Software Entwicklung" <%= if @frontmatter.name === "dev" do %>class="active"<% end %>>Software Entwicklung</a>
        </li>
        <li>
          <a href="coaching.html" alt="Coaching" <%= if @frontmatter.name === "coaching" do %>class="active"<% end %>>Coaching</a>
        </li>
        <li>
          <a href="projects.html" alt="Projekte" <%= if @frontmatter.name === "projects" do %>class="active"<% end %>>Projekte</a>
        </li>
        <li>
          <a href="about.html" alt="Über mich" <%= if @frontmatter.name === "about" do %>class="active"<% end %>>Über mich</a>
        </li>
        <li>
          <a href="contact.html" alt="Kontakt" <%= if @frontmatter.name === "contact" do %>class="active"<% end %>>Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="body-container-wrapper">
    <div class="body-container">
      <header>
        <div class="header-container">
          <a class="logo-link" href="/" alt="Startseite">
            <img src="assets/batman.png" alt="Don Hubi Logo">
          </a>
          <ul class="navigation-desktop">
            <li>
              <a href="dev.html" alt="Software Entwicklung" <%= if @frontmatter.name === "dev" do %>class="active"<% end %>>Software Entwicklung</a>
            </li>
            <li>
              <a href="coaching.html" alt="Coaching" <%= if @frontmatter.name === "coaching" do %>class="active"<% end %>>Coaching</a>
            </li>
            <li>
              <a href="projects.html" alt="Projekte" <%= if @frontmatter.name === "projects" do %>class="active"<% end %>>Projekte</a>
            </li>
            <li>
              <a href="about.html" alt="Über mich" <%= if @frontmatter.name === "about" do %>class="active"<% end %>>Über mich</a>
            </li>
            <li>
              <a href="contact.html" alt="Kontakt" <%= if @frontmatter.name === "contact" do %>class="active"<% end %>>Kontakt</a>
            </li>
          </ul>
        </div>
      </header>
      <main>
        <%= @content %>
      </main>
      <footer>
        <div class="footer-container">
          <section>
            <h1>dienstleistungen</h1>
            <ul>
              <li>
                <a href="dev.html" alt="Software Entwicklung">Software Entwicklung</a>
              </li>
              <li>
                <a href="coaching.html" alt="Coaching">Coaching</a>
              </li>
            </ul>
          </section>
          <section>
            <h1>referenzen</h1>
            <ul>
              <li>
                <a href="projects.html" alt="Projekte">Projekte</a>
              </li>
              <li>
                <a href="about.html" alt="Über mich">Über mich</a>
              </li>
            </ul>
          </section>
          <section>
            <h1>kontakt</h1>
            <ul>
              <li>
                <a href="contact.html" alt="Kontakt">Dominique Huber</a>
              </li>
              <li>
                <a href="mailto:hello@donhubi.ch" alt="hello@donhubi.ch">hello@donhubi.ch</a>
              </li>
              <li>
                <a href="tel:+41793398007" alt="+41 79 339 80 07">+41 79 339 80 07</a>
              </li>
            </ul>
          </section>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>
