.quote {
  font-size: 2rem;
  font-weight: 400;
}

.quotee {
  color: $color-grey-light;
}

.quotee-dark {
  color: rgba(0, 0, 0, 0.8);
}

main section {
  width: $width-content-mobile;
  margin: 8vh auto 0;
  @include tablet {
    width: $width-content-tablet;
    margin: 6vh auto 0;
  }
  @include desktop {
    width: $width-content-desktop;
    margin: 4vh auto 0;
  }
}

.section-header {
  margin-bottom: -2vh;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 3.6rem;
  @include tablet {
    margin-bottom: -1vh;
  }
  @include desktop {
    margin-bottom: 0vh;
  }
}

.section-container {
  padding: 1px 0 8vh;
  background-color: #FFF;
  @include tablet {
    padding-bottom: 6vh;
  }
  @include desktop {
    padding-bottom: 4vh;
  }
}

.section-container-grey {
  @extend .section-container;
  background-color: $color-grey-lightest;
}

.section-container-red {
  @extend .section-container;
  color: #FFF;
  background-color: $color-accent1;
}

.sub-content-section {
  margin-top: 4vh;
  @include tablet {
    margin-top: 2vh;
  }
  @include desktop {
    margin-top: 1vh;
  }
}

.sub-content-quote {
  margin-top: 6vh;
  margin-bottom: 6vh;
  @include tablet {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
  @include desktop {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}

.flow-text {
  line-height: 150%;
}

.contact-button-container {
  margin-top: 8vh;
  margin-bottom: 4vh;
  @include tablet {
    margin-top: 6vh;
    margin-bottom: 2vh;
  }
  @include desktop {
    margin-top: 4vh;
    margin-bottom: 1vh;
  }
}

.contact-button:link,
.contact-button:visited,
.contact-button:hover,
.contact-button:active {
  padding: 2vh 8vw;
  font-weight: 700;
  background-color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  @include tablet {
    padding: 1.5vw 3vw;
  }
  @include desktop {
    padding: 0.5vw 1vw;
  }
}