main {
  .projects {
    margin-top: 0;
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .project {
      margin-top: 6rem;
      padding-bottom: 2rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      @media (min-width: 1399px) {
        width: 45%;
      }
      .project-text {
        margin: 2rem 2rem;
        @include desktop {
          margin: 4rem 4rem;
        }
        .project-title-container {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          flex-wrap: wrap;
          .project-title {
            word-wrap: break-word;
            color: rgba(0, 0, 0, 0.8);
            text-transform: uppercase;
            font-family: "Bitter", serif;
            font-weight: 700;
            font-size: 2.4rem;
            letter-spacing: 0.1rem;
          }
          .project-subtitle {
            word-wrap: break-word;
            color: $color-grey-light;
            font-size: 1.4rem;
            @include tablet {
              font-size: 1.6rem;
            }
          }
        }
        .project-description {
          margin-top: 2.4rem;
        }
        .project-action {
          display: block;
          margin-top: 2.4rem;
        }
      }
      img {
        border: none;
      }
    }
  }
}
