footer {
  padding-bottom: 8vh;
  background-color: $color-grey-dark;
  color: $color-grey-light;
  @include tablet {
    padding-bottom: 6vh;
  }
  @include desktop {
    padding-bottom: 4vh;
  }
  .footer-container {
    width: $width-content-mobile;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include tablet {
      width: $width-content-tablet;
    }
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
    section {
      margin-top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        margin-top: 6vh;
      }
      @include desktop {
        margin-top: 4vh;
        display: block;
      }
      h1 {
        font-family: "Bitter", serif;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
      }
      li {
        font-size: 1.8rem;
        text-align: center;
        @include desktop {
          text-align: initial;
        }
        a:link,
        a:visited,
        a:hover,
        a:active {
          text-decoration: none;
          color: $color-grey-light;
        }
      }
    }

    .social-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      .social-footer-icon {
        margin-bottom: 2vh;
        max-height: 25px;
        height: 25px;
        border: none;
      }
    }
  }
}
