header {
  display: flex;
  align-items: center;
  height: 7rem;
  background-color: $color-primary;
  @include tablet {
    height: 11.5rem;
  }
  @include desktop {
    height: 14rem;
  }
  .header-container {
    height: 4.5rem;
    width: $width-content-mobile;
    margin: 0 auto;
    @include tablet {
      height: 6.75rem;
      width: $width-content-tablet;
    }
    @include desktop {
      height: 9rem;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo-link {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }
    img {
      height: 4.5rem;
      border: none;
      @include tablet {
        height: 6.75rem;
      }
      @include desktop {
        height: 9rem;
      }
    }
  }
}
