header {
  display: flex;
  align-items: center;
  height: 10vh;
  min-height: 60px;
  background-color: $color-primary;
  .header-container {
    width: $width-content-mobile;
    margin: 0 auto;
    @include tablet {
      width: $width-content-tablet;
    }
    @include desktop {
      width: 90vw;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    img {
      max-height: 4vh;
      min-height: 30px;
      border: none;
      @include desktop {
        max-height: 2vh;
      }
    }
  }
}